<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>keychy</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>BMDOHYEON_otf.otf</string>
		<string>esamanru OTF Medium.otf</string>
		<string>SUIT-Bold.otf</string>
		<string>SUIT-ExtraBold.otf</string>
		<string>SUIT-ExtraLight.otf</string>
		<string>SUIT-Heavy.otf</string>
		<string>SUIT-Light.otf</string>
		<string>SUIT-Medium.otf</string>
		<string>SUIT-Regular.otf</string>
		<string>SUIT-SemiBold.otf</string>
		<string>SUIT-Thin.otf</string>
		<string>NanumSquareRoundOTFB.otf</string>
		<string>NanumSquareRoundOTFEB.otf</string>
		<string>NanumSquareRoundOTFL.otf</string>
		<string>NanumSquareRoundOTFR.otf</string>
		<string>Pretendard-Medium.ttf</string>
		<string>NotoSansKR-Black.ttf</string>
		<string>NotoSansKR-Bold.ttf</string>
		<string>NotoSansKR-ExtraBold.ttf</string>
		<string>NotoSansKR-ExtraLight.ttf</string>
		<string>NotoSansKR-Light.ttf</string>
		<string>NotoSansKR-Medium.ttf</string>
		<string>NotoSansKR-Regular.ttf</string>
		<string>NotoSansKR-SemiBold.ttf</string>
		<string>NotoSansKR-Thin.ttf</string>
		<string>HancomMalangMalang-Bold.otf</string>
		<string>HancomMalangMalang-Regular.otf</string>
		<string>gulimche-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>키링 영상을 사진 앨범에 저장하기 위해 권한이 필요합니다.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
